:root {
    --top-bar-bg-color: rgb(77 175 72);
    --top-bar-fg-color: white;

    --menu-bg-color: rgb(42, 100, 39);
    --menu-fg-color: #000;

    --menu-group-fg-color: #ffae00;

    --content-bg-color: #ddd;
    --content-fg-color: #000;

    --footer-bg-color: #000000;
    --footer-fg-color: #bbb;

    --color-white: #fff;
    --color-black: #000;

    --shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--content-bg-color);
}

/* menu button */
.btn-main-menu {
    z-index: 10;
    display: none;
    color: var(--color-black);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* main menu */
.main-menu {
    background: var(--menu-bg-color);
    color: var(--menu-fg-color);
    min-height: 96vh;
    min-width: 250px;
    max-width: 250px;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.main-menu .active {
    background-color: transparent !important;
    color: var(--top-bar-bg-color) !important;
    border: 1px solid var(--top-bar-bg-color) !important;
}

.main-menu .nav-link {
    color: var(--menu-fg-color);
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    transition: background 0.2s ease;
}

.main-menu .nav-link:hover {
    background-color: var(--top-bar-bg-color);
    color: var(--color-white);
}

.main-menu .main-menu-logout {
    transition: 0.2s ease;
}

.main-menu .main-menu-logout:hover {
    background-color: transparent;
    color: var(--top-bar-bg-color);
}

/* content */
.content {
    background-color: var(--content-bg-color);
    color: var(--content-fg-color);
}

.content-box {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 20px;
    margin: 5px 0px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.content-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--top-bar-bg-color);
}

/* button */
.btn-content {
    background-color: var(--top-bar-bg-color);
    border: 1px solid var(--top-bar-bg-color);
    color: var(--color-white);
    padding: 5px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.2s ease;
}

.btn-content:hover {
    background-color: var(--menu-bg-color);
}

.btn-content-outiline {
    color: var(--color-black);
    border: 1px solid var(--top-bar-bg-color);
    padding: 5px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.2s ease;
}

.btn-content-outiline:hover {
    background: var(--top-bar-bg-color);
    color: var(--color-white);
}

/* footer */
.footer {
    background: var(--footer-bg-color);
    color: var(--footer-fg-color);
    padding: 10px;
    text-align: center;
}

/* responsive */
@media screen and (max-width:768px) {
    .main-menu {
        position: fixed;
        transform: translateX(-250px);
    }

    .btn-main-menu {
        display: flex;
    }

    .main-menu.show {
        transform: translateX(0);
    }
}